pip==21.0.1
bump2version==0.5.11
wheel==0.33.6
watchdog==0.9.0
flake8==3.7.8
tox==3.14.0
coverage
coveralls
python-coveralls
Sphinx==3.5.3
twine
Click==7.0
pytest==4.6.5
pytest-runner==5.1
pint
numpy==1.19.5
scipy==1.5.4
matplotlib